<?xml version='1.0' encoding='utf-8'?>
<widget 
id="&PARAM1&" 
version="1.0.0" 
xmlns="http://www.w3.org/ns/widgets" 
xmlns:cdv="http://cordova.apache.org/ns/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
    <name>&PARAM2&</name>
     <!-- 이 부분은 옮길 대상임 [START] -->
    <description>
        A U4A IDE Platform RnD Team application that responds to the deviceready event.
    </description>
    <author email="u4aide@u4ainfo.com" href="https://www.u4ainfo.com">
        U4A IDE Platform RnD Team 
    </author>
    <!-- 이 부분은 옮길 대상임 [END] -->    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- 이 부분은 옮길 대상임 [START] -->    
    <platform name="android">
        <allow-intent href="market:*" /> 
        <preference name="AppendUserAgent" value="u4a_cordova_android" />
        <icon src="./www/img/logo.png" platform="android"/> 
        <icon src="www/img/logo.png" density="ldpi" />
        <icon src="www/img/logo.png" density="mdpi" />
        <icon src="www/img/logo.png" density="hdpi" />
        <icon src="www/img/logo.png" density="xhdpi" />   

        <!-- ## 설명
            <splash> <- 앱이 실행시 호출되는 이미지 경로 
            <icon>   <- 바로가기 아이콘 이미지 경로  
        -->
                
        <splash density="land-ldpi" src="www/img/intro.png" />
        <splash density="land-mdpi" src="www/img/intro.png" />
        <splash density="land-hdpi" src="www/img/intro.png" />
        <splash density="land-xhdpi" src="www/img/intro.png" />
        <splash density="land-xxhdpi" src="www/img/intro.png" />
        <splash density="land-xxxhdpi" src="www/img/intro.png" />
        <splash density="port-ldpi" src="www/img/intro.png" />
        <splash density="port-mdpi" src="www/img/intro.png" />
        <splash density="port-hdpi" src="www/img/intro.png" />
        <splash density="port-xhdpi" src="www/img/intro.png" />
        <splash density="port-xxhdpi" src="www/img/intro.png" />
        <splash density="port-xxxhdpi" src="www/img/intro.png" />
        
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" >
            <application android:usesCleartextTraffic="true" />
        </edit-config>
	
		<config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.NETWORK_ACCESS" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
		
    </platform>
    <platform name="ios">
        <allow-intent href="*" />
        <allow-navigation href="*" />
        <allow-navigation href="data:*" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-intent href="*" />
        <allow-navigation href="https://*/*" />
        <allow-navigation href="http://*/*" />
        <allow-navigation href="*" />
        <preference name="AppendUserAgent" value="u4a_cordova_ios" />
        <preference name="NativeXHRLogging" value="full" />
        <preference name="AllowUntrustedCerts"  value="true" />
        <preference name="InterceptRemoteRequests" value="all" />
        <preference name="allowFileAccessFromFileURLs" value="true" />
        <preference name="allowUniversalAccessFromFileURLs" value="true" />
        
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <gap:plugin name="com.phonegap.plugin.statusbar" />
        
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>To scan barcodes</string>
        </edit-config>
    </platform>
    <!-- 이 부분은 옮길 대상임 [END] --> 
</widget>
